.card {
  width: 323px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  overflow: hidden;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.card__name {
  top: 15px;
  padding-right: 2px;
  margin: 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.card__like-button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../../assets/heart-unlike.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: filter 0.25s ease, transform 0.2s ease;
}

.card__like-button_liked {
  background-image: url("../../assets/heart-liked.svg");
  filter: drop-shadow(0 0 1px white);
}

.card__image {
  width: 100%;
  cursor: pointer;
  max-height: 325px;
  height: auto;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 685px) {
  .card {
    width: 280px;
  }

  .card__name {
    top: 6px;
  }
}

@media screen and (max-width: 660px) {
  .card {
    width: 164px;
    margin: 0;
  }
}
