.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__menu {
  display: none;
  border: none;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  gap: 12px;
  margin: 0;
}

.header__add-clothes-button {
  margin: 0 20px 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__temp-switch {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  height: 25px;
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 685px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  .header__user,
  .header__add-clothes-button {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

.header__date-location,
.header__add-clothes-button,
.header__username {
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 430px) {
  .header {
    position: relative;
    display: block;
    padding: 0;
  }

  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
  }

  .header__user,
  .header__add-clothes-button {
    display: none;
  }

  .header__date-location {
    margin-top: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}
