.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  box-sizing: border-box;
  width: 100%;
}

.header__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.navigation__menu {
  display: none;
  border: none;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  gap: 12px;
  margin: 0;
}

.header__add-clothes-button {
  margin: 0 20px 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__temp-switch {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}

.header__username {
  height: 25px;
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 740px) {
  .header__temp-switch {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-top: 2px;
    margin-bottom: 20px;
  }

  .header__user,
  .header__add-clothes-button {
    display: none;
  }

  .navigation__menu {
    display: block;
  }
}

.header__date-location {
  margin-right: auto;
}

.header__date-location,
.header__add-clothes-button,
.header__username {
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 430px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-top: 18px;
  }

  .header__logo {
    margin: 0 12px 0 0;
  }

  .navigation__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
  }

  .header__user,
  .header__add-clothes-button {
    display: none;
  }

  .header__date-location {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
