.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__container_type_image {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__image {
  width: 100%;
}

.modal__caption {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__weather-type {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 685px) {
  .modal__container_type_image {
    max-width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .modal__container_type_image {
    max-width: 95%;
  }

  .modal__caption,
  .modal__weather-type {
    font-size: 16px;
    line-height: 20px;
  }
}
